/* Give your page a fun background color */
body {
    background-color: #A2D2FF;
}
/* Make the header and footer a different color from the background */
header{
    background-color: #FEE440;
}

footer{
    background-color: #FF865E;
    font-size: 1.5rem;
    text-align: center;
}
/* Align the h1 containing your name in the center of the header*/
.my-name{
    text-align: center;
}
/* Make your p tag a different color and italic */
.quote-paragraph{
    color: #FEF9EF;
    font-style: italic;
}
/* Put a border around your image */
.code-img{
    border-radius: 50%;
    border-style: solid;
    border-width: 1rem;
    border-color: #FEE440;
    height: 30rem;
    width: 30rem;
}
/* Change the font-family of your list */
.fun-facts{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
}